*{
    padding:0px;
    margin:0px;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
.container{
    max-width:80%;
    margin:auto;
}
    header{
        display:flex;
        background-color:silver;
        align-items: center;
    }
    #logo-holder{
        flex-basis:20%;
    }
        #logo-holder img{
            width: 50%;
            height: 90px;
        }
    #main-menu{
        flex-basis:80%;
    }
        header ul{
            display:flex;
        }
        header li{            
            flex-basis:10%;
            margin-top:auto;
            margin-bottom:auto;
            
        }
            header a{  
                color:#000;
            }
                header a:hover{
                    color:red;
                }
    .main-content{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
        .main-content .box{
           
            flex-basis:18%;
            background-color:silver;
            border:3px solid-black; 
            position:relative;
            margin-top:10px;
        }
            .main-content .product-name{
                position:absolute;
                bottom:0;
                left:0;
                width: 100%;
                box-sizing: border-box;
                background-color:#cc8925;
            }
            .main-content .product-price{
                position:absolute;
                top:0;
                right:0;
                
            }

                .product-name, .product-price{
                    color:#fff;
                    text-align:center;
                    padding:10px;
                    background-color:#c57d7d;
                }
 /*Footer styling */
    footer{
        display:flex;
        margin-top:10px;
        background-color: silver;
        align-items: center;
    }
        footer .footer-part{
            flex:1;
            padding:10px;
        }
            .footer-part img{
                width: 35%;
                height: 90px;
            }
                .footer-part nav{
                    text-align:center;
                }
                .footer-part p{
                    text-align:right;
                }
